/* forbes-form-blue */
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  background-color: #FFFFFF;
}

html{
  height: 100%;
}

img {
  border: 0px;
  border-radius: 23px;
}
.forbes-form-blue{
  margin:0 auto;
  font-family: Arial, Helvetica, sans-serif;
  
}
.forbes-form-blue>div,
.forbes-form-blue>.title{
  margin: 8px;
}
.forbes-form-blue .error-field .required{
  color:#FF0000;
}
.forbes-form-blue .error-field input,
.forbes-form-blue .error-field input[type=text],
.forbes-form-blue .error-field input[type=password],
.forbes-form-blue .error-field input[type=email],
.forbes-form-blue .error-field input[type=url],
.forbes-form-blue .error-field input[type=date],
.forbes-form-blue .error-field input[type=number],
.forbes-form-blue .error-field input[type=tel],
.forbes-form-blue .error-field textarea{
  border-color:#D893A1;
  background-color: #FBE6F2;
}
.forbes-form-blue label.error{
  display:none !important;
  font-size:0.9em;
}
.forbes-form-blue .error,
.forbes-form-blue .error #recaptcha_widget_div{
  padding: 3px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #c09853;
}
.forbes-form-blue .error h4 {
  color: #b94a48;
  margin: 0;
}

.forbes-form-blue .error .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.forbes-form-blue .column{
  float:left; 
}
/* width = parseInt(100/columns.length)*/
.forbes-form-blue .column1{ width:100%;}
.forbes-form-blue .column2{ width:50%; }
.forbes-form-blue .column3{ width:33%; }
.forbes-form-blue .column4{ width:25%; }
.forbes-form-blue .column5{ width:20%; }



.forbes-form-blue .large{
  width: 100%;
  *width: 94%;
  font-size: 90%;
  
}
.forbes-form-blue .medium{
  width: 50%;
  *width: 47%;
}
.forbes-form-blue .small{
  width: 25%;
  *width: 23%;
}

.forbes-form-blue textarea.large{
  width: 100%;
  *width: 94%;
  height: 20em;
  
}
.forbes-form-blue textarea.medium{
  width: 100%;
  *width: 94%;
  height: 10em;
}
.forbes-form-blue textarea.small{
  width: 100%;
  *width: 94%;
  height: 5.5em;
}

/* address select style */
.forbes-form-blue .element-address .country {
  position: relative;
}

.frmd{
  display:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}


.blurBg,
.blurBg-true{
  background-attachment: fixed;
  background-image:
    -webkit-linear-gradient(5deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    -webkit-radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    -webkit-radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    -webkit-radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    -webkit-radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    -webkit-radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);
  
  background-image:
    linear-gradient(85deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */
    radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%),/* center white */
    radial-gradient(50% -10%,circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%),/* top center white */
    radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%),/* top right white */
    radial-gradient(0% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%),/* top left white */
    radial-gradient(90% 60%,ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%),/* center right black */
    radial-gradient(20% 10%,circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);/* top left black */
  /*
  radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
  radial-gradient(50% -10%,circle closest-corner, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 50%),
  radial-gradient(0% 100%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
  radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
  radial-gradient(1% 2%,circle farthest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  */
}

#formoid-info {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #c09853;
  font-size: 12px;
  max-width: 100%;
}/*


Flat style


*/
@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src:url('formoid.eot');
  src:url('formoid.eot?#iefix') format('embedded-opentype'),
    url('formoid.ttf') format('truetype'),
    url('formoid.woff') format('woff'),
    url('formoid.svg#formoid') format('svg');
  font-weight: normal;
  font-style: normal;
}
.forbes-form-blue{
  border: 1px solid #919191;
  font-size: 1em;
  line-height: 1.231;
  border-radius:23px;
}
.forbes-form-blue label.title{
  font-size: 1em;
  font-weight: 500;
  width: auto;
}
.forbes-form-blue input[type=button]{
  color: #666;
  outline: none;
  font-size: 1em;
}
.forbes-form-blue input[type=submit]{
  color: #666;
  outline: none;
  font-size: 1.2em;
}
.forbes-form-blue>div{
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
.forbes-form-blue h2 {
  margin: 0.2em 0;
  font-size: 1.7em;
  color: #fff;
}
.forbes-form-blue h3.title {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.forbes-form-blue h3.section-break-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.forbes-form-blue label {
  display: block;
  margin-bottom: 3px;
  clear: both;
}

.forbes-form-blue div, .forbes-form-blue span, .forbes-form-blue label, .forbes-form-blue input, .forbes-form-blue textarea, .forbes-form-blue select, .forbes-form-blue button, .forbes-form-blue ul, .forbes-form-blue li, .forbes-form-blue a{
  font-family: inherit;
  color: inherit;
}
/* Global Declaration */

/*
CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/


/* submit + title */
.forbes-form-blue div.submit,
.forbes-form-blue div.title{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.forbes-form-blue div.submit{
  vertical-align: middle;
  text-align: right;
  border-top: 2px solid #d6dbdf;
  border-radius: 0 0 6px 6px;
}
.forbes-form-blue div.title{
  background-color: #BCC3CA;
}
.forbes-form-blue div.title h2{
  margin-left: 27px;
}


/* Button & submit*/
.forbes-form-blue input[type=button],
.forbes-form-blue input[type=submit]{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 1px;
  color: #666666;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
  
  border: 1px solid #919191;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
  border-radius:6px;
}

.forbes-form-blue input[type=button][disabled] {
  cursor: default;
  opacity: 0.65;
}

.forbes-form-blue input[type=submit]{
  text-align: center;
  opacity: 1;
  color: #ffffff;
  border: none;
  right: 20px;
  margin-right: 27px;
  padding: 7px 15px;
  
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.forbes-form-blue input[type=submit]:hover{
  text-decoration: none;
}
.forbes-form-blue input[type=submit]:active{
}

/* File input */
.forbes-form-blue .element-file label{
  position: relative;
}
.forbes-form-blue .element-file .title{
  position: static;
}
.forbes-form-blue .element-file .button {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  float: none;
  font-size: 1em;
  color: #fff;
  
  padding: 1.8% 1.2em 0 1.2em;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}
.forbes-form-blue .element-file .file_text{
  overflow: hidden;
  -webkit-transition: border-color .25s;
  transition: border-color .25s;
}

.forbes-form-blue .element-file .file_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}
* html .forbes-form-blue .element-file .file_input,
*+html .forbes-form-blue .element-file .file_input{
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}
* html .forbes-form-blue .element-file .button,
*+html .forbes-form-blue .element-file .button{
  display: none;
}
* html .forbes-form-blue .element-file label,
*+html .forbes-form-blue .element-file label,
* html .forbes-form-blue .element-file .file_text,
*+html .forbes-form-blue .element-file .file_text{
  border: none;
}
* html .forbes-form-blue .element-file .title,
*+html .forbes-form-blue .element-file .title{
  display: block;
}


/* Radio & checkbox */
.forbes-form-blue div.element-checkbox, .forbes-form-blue div.element-radio{
  overflow:hidden;
}
.forbes-form-blue input[type=checkbox],
.forbes-form-blue input[type=radio]{
  z-index:1;
  position:absolute;
  float: left;
  opacity:0.01;
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin: 0;
  cursor: pointer;
}

.forbes-form-blue input[type=radio]+span,
.forbes-form-blue input[type=checkbox]+span{
  height: 19px;
  margin-right:-19px;
  padding-top: 0;
  z-index:0;
  position: relative;
  left: 0;
  top: 0;
  vertical-align:top;
  font-size: 1em;
  line-height: 0.8;
  cursor: pointer;
}
.forbes-form-blue input[type=radio]+span:before,
.forbes-form-blue input[type=checkbox]+span:before{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0.2em;
  color: #919191;
  font-size: 1em;
  line-height: 1;
  vertical-align:top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* checkbox */
.forbes-form-blue input[type=checkbox]+span:before{
  content: "\e004";
  font-size: 0.6em;
  padding: 0.3em;
  margin-right: 0.4em;
  line-height: 1.8;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  border-radius:0.3em;
}
.forbes-form-blue input[type=checkbox]:hover+span:before{
  color: #fff;
}
.forbes-form-blue input[type=checkbox]:checked+span:before{
  color: #fff;
}

/* radio */
.forbes-form-blue input[type=radio]+span:before{
  content: "\e001";
  -webkit-transition: color .5s;
  transition: color .5s;
}
.forbes-form-blue input[type=radio]:hover+span:before{
  content: "\e000";
}
.forbes-form-blue input[type=radio]:checked+span:before{
  content: "\e000";
}



.forbes-form-blue input[type=text],
.forbes-form-blue input[type=tel],
.forbes-form-blue input[type=password],
.forbes-form-blue input[type=email],
.forbes-form-blue input[type=url],
.forbes-form-blue input[type=date],
.forbes-form-blue input[type=number],
.forbes-form-blue textarea,
.forbes-form-blue .element-file .file_text,

/* INPUT CODE */
.forbes-form-blue select{
  border-style: solid;
  border-width: 1px;
  border-color: #919191;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
  border-radius:23px;
  padding: 6px 10px;
  height: 40px;
  outline:none;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom:1em;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  font-size: 1em;
}

.forbes-form-blue select{
  border-style: solid;
  border-width: 1px;
  border-color: #919191;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
  border-radius:23px;
  padding: 6px 10px;
  height: 40px;
  outline:none;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom:1em;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: url(http://www.forbesmagazine.com/frb/2015/email/images/dwn.jpg);
  background-repeat:no-repeat;
  background-position: 98% 50%;
  background-size: 28px;
  
  font-size: 1em;
}


.forbes-form-blue .element-address input[type=text],
.forbes-form-blue .element-name input[type=text],
.forbes-form-blue .element-file .file_text,
.forbes-form-blue textarea{
  width: 100%;
  *width: 94%;
}
.forbes-form-blue textarea{
  height: auto;
}
.forbes-form-blue  select{
  cursor: pointer;
  text-align: left;
  width: 100%;
}


/* NAME last first */
.forbes-form-blue .element-name .nameFirst{
  width: 40%;
  *width: 39%;
  left: 0;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.forbes-form-blue .element-name .nameLast{
  width: 55%;
  *width: 50%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
/* ADDRESS */
.forbes-form-blue .element-address .city,
.forbes-form-blue .element-address .zip{
  width: 47%;
  *width: 44%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: 6%;
}
.forbes-form-blue .element-address .state,
.forbes-form-blue .element-address .country{
  width: 47%;
  *width: 44%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.forbes-form-blue .element-address .country select{
  cursor: pointer;
}
.forbes-form-blue .element-address label,
.forbes-form-blue .element-name label{
  font-size: 0.8em;
}
.forbes-form-blue .element-address label.title,
.forbes-form-blue .element-name label.title{
  font-size: 1em;
}

/* type number */
.forbes-form-blue input[type=number]::-webkit-inner-spin-button, 
.forbes-form-blue input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none;
}

/* recaptcha */
.forbes-form-blue .recaptchatable,
.forbes-form-blue .recaptchatable #recaptcha_image,
.forbes-form-blue .recaptchatable #recaptcha_challenge_field_holder input{
  border-collapse: separate !important;
  border: 1px solid #919191 !important;
  border-radius: 23px;
}
.forbes-form-blue .recaptchatable #recaptcha_image img{
  border-color: transparent;
  border-radius: 23px;
}

/* ERRORs */
.forbes-form-blue .error,
.forbes-form-blue .error #recaptcha_widget_div{
  background-color: #e74c3c;
  color: #fff;
  border-radius: 23px;
  text-shadow: none;
  border: none;
  padding: 5px 20px 5px 20px;
  margin-left: 0px;
}
.tooltip {
  position: relative;
  margin-top: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.bottom .tooltip-arrow {
  top: -8px;
  left: 20px;
  border-bottom-color: #e74c3c;
  border-width: 0 8px 8px;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}


.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}




@media all and (max-width:640px){
.forbes-form-blue .element-radio .column,
.forbes-form-blue .element-checkbox .column,
.forbes-form-blue .element-name .nameFirst,
.forbes-form-blue .element-name .nameLast,
.forbes-form-blue .element-address .city,
.forbes-form-blue .element-address span.state,
.forbes-form-blue .element-address .zip,
.forbes-form-blue .element-address .country{
  width: 100%;
  display: block;
  margin-right: 0;
}
}/* 

bootstrap 

*/
.forbes-form-blue .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius: 23px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.forbes-form-blue .dropdown-menu > li > a:hover,
.forbes-form-blue .dropdown-menu > li > a:focus,
.forbes-form-blue .dropdown-submenu:hover > a,
.forbes-form-blue .dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.forbes-form-blue .btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.forbes-form-blue .btn-group > .dropdown-menu{
  font-size: 1em;
}

.forbes-form-blue .btn{
  text-align: left;
  border: 0;
  cursor: pointer;
  border-radius:6px;
  
  width: 100%;
  height: 100%;
  padding: 7px 10px;
  
  color: #fff;
  
  outline:none;
  
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;    
  
  font-size: 1em;
}
.forbes-form-blue .btn:active,
.forbes-form-blue .btn-group.open .btn.dropdown-toggle,
.forbes-form-blue .btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: none;
}
.forbes-form-blue .btn.disabled,
.forbes-form-blue .btn[disabled] {
  background-color: #919191;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.forbes-form-blue .select {
  width: 100%;
}

.forbes-form-blue .select .btn .filter-option {
  position: absolute;
  left: 13px;
  right: 30px;
  overflow: hidden;
  text-align: left;
}

.forbes-form-blue .select .btn .dropdown-toggle {
  border-radius: 23px;
}
.forbes-form-blue .select .btn .dropdown-menu {
  min-width: 100%;
  box-sizing: border-box;
}
.forbes-form-blue .select .btn .dropdown-menu li:not(.disabled) > a:hover small {
  color: rgba(255, 255, 255, 0.004);
}

.forbes-form-blue .select .btn > .disabled,
.forbes-form-blue .select .btn .dropdown-menu li.disabled > a {
  cursor: default;
}
.forbes-form-blue .select .caret {
  position: absolute;
  
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  
  right: 10px;
  top: 50%;
}

.forbes-form-blue .dropdown-menu {
  overflow-x: hidden;
  background-color: #f3f4f5;
  border: none;
  display: block;
  opacity: 0;
  padding: 0;
  visibility: hidden;
  width: 100%;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.forbes-form-blue .dropdown-menu.typeahead {
  display: none;
  opacity: 1;
  visibility: visible;
  width: auto;
}
.forbes-form-blue .open > .dropdown-menu {
  margin-top: 10px;
  opacity: 1;
  visibility: visible;
}
.forbes-form-blue .dropdown-menu li:first-child dt + a {
  border-radius: 0;
}
.forbes-form-blue .dropdown-menu li.active > a,
.forbes-form-blue .dropdown-menu li.selected > a,
.forbes-form-blue .dropdown-menu li.active > a.highlighted,
.forbes-form-blue .dropdown-menu li.selected > a.highlighted,
.forbes-form-blue .dropdown-menu li.active > a:hover,
.forbes-form-blue .dropdown-menu li.selected > a:hover,
.forbes-form-blue .dropdown-menu li.active > a.highlighted:hover,
.forbes-form-blue .dropdown-menu li.selected > a.highlighted:hover,
.forbes-form-blue .dropdown-menu li.active > a:focus,
.forbes-form-blue .dropdown-menu li.selected > a:focus,
.forbes-form-blue .dropdown-menu li.active > a.highlighted:focus,
.forbes-form-blue .dropdown-menu li.selected > a.highlighted:focus {
  color: #ffffff;
}
.forbes-form-blue .dropdown-menu li > a {
  color: rgba(52, 73, 94, 0.75);
  padding: 6px 15px 6px;
  text-decoration: none;
  *zoom: 1;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-backface-visibility: hidden;
  display: block;
  clear: both;
  white-space: nowrap;
}
.forbes-form-blue .dropdown-menu li > a:before,
.forbes-form-blue .dropdown-menu li > a:after {
  display: table;
  content: "";
}
.forbes-form-blue .dropdown-menu li > a:after {
  clear: both;
}
.forbes-form-blue .dropdown-menu li > a.highlighted {
  background: #c9cfd4;
  color: #ffffff;
}
.forbes-form-blue .dropdown-menu li > a.highlighted:hover,
.forbes-form-blue .dropdown-menu li > a.highlighted:focus {
  background: #bac1c8;
  color: #ffffff;
}
.forbes-form-blue .dropdown-menu li > a:before {
  margin-top: 3px;
}
.forbes-form-blue .dropdown-menu li > a:hover,
.forbes-form-blue .dropdown-menu li > a:active,
.forbes-form-blue .dropdown-menu li > a:focus {
  background: #e1e1e1;
  color: inherit;
  outline: none;
}
.forbes-form-blue .dropdown-menu li dt {
  margin-bottom: 3px;
  margin-top: 12px;
  padding: 0 15px;
}
.forbes-form-blue .dropdown-inverse {
  background-color: #34495e;
  color: #cccccc;
  padding-top: 4px;
}
.forbes-form-blue .dropdown-inverse li {
  margin: 0 4px -2px;
}
.forbes-form-blue .dropdown-inverse li:first-child > a,
.forbes-form-blue .dropdown-inverse li:last-child > a {
  border-radius: 2px;
  padding-bottom: 7px;
  padding-top: 5px;
}
.forbes-form-blue .dropdown-inverse li:first-child dt + a,
.forbes-form-blue .dropdown-inverse li:last-child dt + a {
  border-radius: 2px;
}
.forbes-form-blue .dropdown-inverse li.active > a,
.forbes-form-blue .dropdown-inverse li.selected > a {
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.forbes-form-blue .dropdown-inverse li dt {
  padding-left: 11px;
  padding-right: 11px;
}
.forbes-form-blue .dropdown-inverse li .divider {
  margin-left: 11px;
  margin-right: 11px;
}
.forbes-form-blue .dropdown-inverse li > a {
  border-radius: 2px;
  color: #ffffff;
  padding: 5px 11px 7px;
}
.forbes-form-blue .dropdown-inverse li > a:hover,
.forbes-form-blue .dropdown-inverse li > a:active,
.forbes-form-blue .dropdown-inverse li > a:focus {
  background: #2c3e50;
}
.forbes-form-blue .dropdown-inverse li > a.highlighted {
  background: #526476;
}
.forbes-form-blue .dropdown-inverse li > a.highlighted:hover,
.forbes-form-blue .dropdown-inverse li > a.highlighted:focus {
  background: #677786;
}
.forbes-form-blue .dropdown-inverse li .divider {
  background-color: #526476;
  border-bottom-color: #526476;
}
.forbes-form-blue .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.forbes-form-blue .dropdown-arrow {
  border-color: transparent transparent #F3F4F5;
  border-style: solid;
  border-width: 0 9px 9px;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 13px;
  top: 100%;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  width: 0;
  z-index: 10;
}
.forbes-form-blue .dropdown-arrow-inverse {
  border-bottom-color: #34495E !important;
  border-top-color: #34495E !important;
}
.forbes-form-blue .open > .dropdown-arrow {
  margin-top: 2px;
  opacity: 1;
}/* .forbes-form-blue color scheme begin */

.forbes-form-blue input[type=button]:focus,
.forbes-form-blue input[type=button]:active,
.forbes-form-blue input[type=button][disabled]{
  border-color: #0694F8;
}

.forbes-form-blue input[type=submit]{
  background-color: #0694F8;
}

.forbes-form-blue input[type=submit]:hover{
  background-color: #48c9b0;
}
.forbes-form-blue input[type=submit]:active{
  background-color: #0694F8;
}

/* File input */
.forbes-form-blue .element-file .button {
  background-color: #919191;
}
.forbes-form-blue .element-file .file_text{
  border-color: #919191;
}
.forbes-form-blue .element-file label:hover .button{
  background-color: #0694F8;
}
.forbes-form-blue .element-file label:active .button{
  background-color: #0694F8;
}
.forbes-form-blue .element-file label:hover .file_text{
  border-color: #0694F8;
}
.forbes-form-blue .element-file label:active .file_text{
  border-color: #0694F8;
}

/* element-submit + element-text */
.forbes-form-blue > .submit,
.forbes-form-blue > .title{
  background-color: #bcc3ca;
}
.forbes-form-blue > .submit{
  background-color: #edeff1;
  border-top: 2px solid #d6dbdf;
}

.forbes-form-blue input[type=text]:focus,
.forbes-form-blue input[type=tel]:focus,
.forbes-form-blue input[type=password]:focus,
.forbes-form-blue input[type=email]:focus,
.forbes-form-blue input[type=url]:focus,
.forbes-form-blue input[type=date]:focus,
.forbes-form-blue input[type=number]:focus,
.forbes-form-blue textarea:focus,
.forbes-form-blue .element-file .file_text:active,
.forbes-form-blue  select:focus{
  border-color: #0694F8;
}


