body
   {
    margin:0;
    padding:0;
    background-color:#f1f1f1;
   }
   .box
   {
    width:1270px;
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:25px;
   }
   #page_list li
   {
    padding:16px;
    background-color:#f9f9f9;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
   }
   #page_list li.ui-state-highlight
   {
    padding:24px;
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
   }




.del_wrapper{float:right;}
.content_wrapper {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}


.form_style .col_left{float:left;}
.form_style .col_right{float:left;}

.form_style #contentBook {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	width:200px; 
	padding:10px;
}
.form_style #SubmitBook {
	display: block;
	background: #6C93AD;
	border: 1px solid #4B6170;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 6px 9px 6px 9px;
	border-radius: 5px;
}
#respondsbook{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#respondsbook li {
	list-style: none;
	padding: 15px;
	background: rgb(221, 240, 255);
	margin-bottom: 5px;
	border-radius: 5px;
	max-width: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
}
#respondsbook li.sel {
	background: rgb(255, 221, 221);
}





.form_style #contentMeetup {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.form_style #SubmitMeetup {
	display: block;
	background: #6C93AD;
	border: 1px solid #4B6170;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 6px 9px 6px 9px;
	border-radius: 5px;
}
#respondsmeetup{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#respondsmeetup li {
	list-style: none;
	padding: 15px;
	background: rgb(221, 240, 255);
	margin-bottom: 5px;
	border-radius: 5px;
	max-width: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
}
#respondsmeetup li.sel {
	background: rgb(255, 221, 221);
}

