body
   {
    margin:0;
    padding:30px;
    background-color:#fff;
   }

h2{font-size:20px;}
h3{font-size:15px;}


.blue{color:#1c77b9;}

.outter-box{float:left; width:100%;}

.box
   {
    float:left;
    border:1px dotted #ccc;
    padding:0px 10px 10px 10px;
    margin:0px 20px 20px 0;
    width:400px;
	min-width: 400px;
	max-width: 400px;
   }

  

.del_wrapper{float:right;}
.content_wrapper {
	/*max-width: 400px;
	margin-right: auto;
	margin-left: auto;*/
	float:left;
	width:100%;
}

.note{float:left; padding:10px 0 30px 0; width:100%; }

.form_style{float:left; width:100%;}
.form_style .col{float:left; width:100%;}
.form_style .col_left{float:left;}
.form_style .col_right{float:left;}

.form_style input[type="text"] {
	border: 1px solid #CCCCCC;
	width:auto; 
	padding:10px;
	margin-right:5px;
}
.form_style button.btn {
	display: block;
	border-radius: 0px;
	background: #6C93AD;
	border: 1px solid #4B6170;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 6px 9px 6px 9px;
	float:left;
}
.the-list{
	margin: 0px;
	padding: 0px;
	list-style: none;
}


 .the-list li
   {
    padding:16px;
    background-color:#f9f9f9;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
    float:left;
    width:100%;
   }
 .the-list li.ui-state-highlight
   {
    padding:24px;
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
   }

.the-list li.sel {
	background: rgb(255, 221, 221);
}





