


.form-signin label{
	margin-right:5px;
}

.form-signin .short{
    font-weight:normal;
	color:#FFF;
	font-size:larger;
	float:left;
	width:100%;
	text-align: center;
	background:#FF0000;
	padding:10px 0 10px 0;
	margin-bottom:10px;
}
.form-signin .weak{
    font-weight:normal;
	color:#FFF;
	font-size:larger;
	background:orange;
	float:left;
	width:100%;
	text-align: center;
	padding:10px 0 10px 0;
	margin-bottom:10px;
}
.form-signin .good{
   

	font-weight:normal;
	color:#FFF;
	font-size:larger;
	background:#2D98F3;
	float:left;
	width:100%;
	text-align: center;
	padding:10px 0 10px 0;
	margin-bottom:10px;
	
}
.form-signin .strong{
    font-weight:bold;
	color: limegreen;
	font-size:larger;
}